@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Course Registration</h1>
  

</div>

<div class="text">
    <h4 style="color:blue">Course participation conditions</h4> 
    <ul>
        <li><h6>Registration for only one course can be made with one e-mail.</h6></li>
        <li> <h6>All fields in the forum must be filled.</h6></li>
    </ul>
 


</div>
<div class="text-center">
    <hr />
    <p>
        <a class="btn btn-primary" asp-controller="Course" asp-action="Apply">Apply</a>
    </p>
</div>